# General files

.buildpath
.project
.settings/
.DS_Store
*~
/vendor/*
/.vagrant/*
private/
.idea/

# InteliJ Idea Project Files
*.iml

# Project Files

config/config.ini
public/uploads/*
tests/_reports/*
