;
; Sample config file.
; Copy or rename to config.ini
;

env                 = dev
timezone            = America/Sao_Paulo
default_charset     = 'UTF-8'

; Directory where templates are

view_path           = '../templates/'

; Login credentials

user                = 'admin'
pass                = '123456'

; Database parameteres

db_driver           = "mysql"
db_host             = "localhost"
db_name             = "my_database"
db_user             = "my_user"
db_pass             = "my_pass"
db_dsn              = "[db_driver]:host=[db_host];dbname=[db_name]"

; Create PDO instance with database parameters

[pdo PDO]
__construct         = [[db_dsn], [db_user], [db_pass]]

; Create Respect/Relational instance with PDO connection

[mapper Respect\Relational\Mapper]
db                  = [pdo]

; Twig options (default values)

[options]
debug               = true
charset             = 'UTF-8'
base_template_class = 'Twig_Template'
strict_variables    = false
autoescape          = true
cache               = /tmp
auto_reload         = null

; Create a 'Twig_Loader_Filesystem' instance with 'view_path'

[loader Twig_Loader_Filesystem]
paths   = [view_path]

; Create a 'Twig_Environment' with the loader and options given

[twig Twig_Environment]
loader  = [loader]
options = [options]

; mailer parameters

[mailer]
smtp                = smtp.gmail.com
port                = 465
ssl                 = true
username            =
password            =
receiver_mail       =
receiver_name       = PHPSP + Liga
subject             = Informativo Liga
