<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img class ="logo pull-left" src="/images/img-logo.png">
            </div>
            <div class="col-md-8">
                <p>Projeto de Storage para a Liga Solidária Desenvolvido por <a href="https://github.com/PHPSP">PHPSP</a></p>
            </div>
            <div class="col-md-2">
                <img class ="logo pull-right phpsp" width="250px" src="/images/logo-php-sp.svg">
            </div>
        </div>
    </div>
</footer>