<div class="col-md-12">
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
        </div>            
        <div class="navbar-collapse collapse" id="nav-collapse-01">
            <ul class="nav">
                <li>
                    <a href="/upload/">Upload</a>
                </li>
                <li>
                    <a href="/list/">Arquivos</a>
                    <ul>
                        <li><a href="#fakelink">Grupo de arquivos 1</a></li>
                        <li><a href="#fakelink">Grupo de arquivos 2</a></li>
                    </ul> <!-- /Sub menu -->
                </li>
            </ul>
        </div><!--/.nav -->
    </div>
</div>