{% extends "layouts/layout.html.twig" %}

{% block title %}Upload de arquivo{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <h3>Upload de arquivo</h3>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="artefato"  />
                <input type="submit" class="btn btn-large pull-right btn-default" value="Incluir" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
