<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://raw.github.com/designmodo/Flat-UI/master/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="https://raw.github.com/designmodo/Flat-UI/master/css/flat-ui.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span12">

                    <div class="navbar navbar-inverse">
                        <div class="navbar-inner">
                            <div class="container">
                                <div class="nav-collapse collapse" id="nav-collapse-01">
                                    <ul class="nav">
                                        <li>
                                            <a href="#fakelink">
                                            Ação 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#fakelink">
                                            Ação
                                            </a>
                                        </li> 
                                        <li>
                                            <a href="#fakelink">
                                            Ação
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="nav pull-right">
                                        <li>
                                            <form class="navbar-search pull-left">
                                                <input type="text"
                                                    class="search-query span3" 
                                                    placeholder="Search">
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- nav -->

                    <div class="row">
                        <div class="span3">
                            <h3>Grupos de arquivos</h3>
                            <ul class="nav nav-tabs nav-stacked">
                                <li class="active"><a href="#">file 1</a></li>
                                <li><a href="#">file 2</a></li>
                                <li><a href="#">file 3</a></li>
                            </ul>
                        </div>

                        <div class="span9">
                            <h3><i class="fui-list"></i>  Files 1</h3>
                            <ul class="thumbnails">
                                <li class="span3">
                                    <div class="thumbnail">
                                        <img src="https://raw.github.com/designmodo/Flat-UI/master/images/icons/Pocket@2x.png" 
                                            alt=""
                                            width="100px">
                                        <div class="caption">
                                            <h4>Não tem cão</h4>
                                            <a href="#" class="btn btn-mini btn-primary">
                                                Ver arquivos
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <img src="https://raw.github.com/designmodo/Flat-UI/master/images/demo/html-icon.png"
                                            alt=""
                                            width="100px">
                                        <div class="caption">
                                            <h4>File name</h4>
                                            <a href="#" class="btn btn-mini btn-primary">Baixar</a>
                                            <a href="#" class="btn btn-mini btn-danger">Excluir</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <img src="https://raw.github.com/designmodo/Flat-UI/master/images/demo/html-icon.png"
                                            alt=""
                                            width="100px">
                                        <div class="caption">
                                            <h4>File name</h4>
                                            <a href="#" class="btn btn-mini btn-primary">Baixar</a>
                                            <a href="#" class="btn btn-mini btn-danger">Excluir</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <img src="https://raw.github.com/designmodo/Flat-UI/master/images/demo/html-icon.png"
                                            alt=""
                                            width="100px">
                                        <div class="caption">
                                            <h4>File name</h4>
                                            <a href="#" class="btn btn-mini btn-primary">Baixar</a>
                                            <a href="#" class="btn btn-mini btn-danger">Excluir</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <img src="https://raw.github.com/designmodo/Flat-UI/master/images/demo/html-icon.png"
                                            alt=""
                                            width="100px">
                                        <div class="caption">
                                            <h4>File name</h4>
                                            <a href="#" class="btn btn-mini btn-primary">Baixar</a>
                                            <a href="#" class="btn btn-mini btn-danger">Excluir</a>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
